@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* AdminPanel.css */
.admin-panel {
    color: black;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-top: 2rem;
    background-color: #f8f9fa;
    width: -webkit-fill-available;
  }
  
  .studio-btn {
    padding: 10px 20px;
    background-color: #2b8a3e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .studio-btn:hover {
    background-color: #2f9e44;
  }
  
  .studio-info {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .navbar {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-wrap-mode: nowrap;
    color: #333;
  }
  
  .nav-items {
    color:black;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .logout-btn {
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #c82333;
  }
  
  .Container{
    display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
}